<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chilun.apiopenspace.mapper.RateLimitStrategyMapper">

    <resultMap id="BaseResultMap" type="com.chilun.apiopenspace.model.entity.RateLimitStrategy">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="replenishRate" column="replenish_rate" jdbcType="INTEGER"/>
            <result property="burstCapacity" column="burst_capacity" jdbcType="INTEGER"/>
            <result property="requestedTokens" column="requested_tokens" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,replenish_rate,burst_capacity,
        requested_tokens,create_time,update_time
    </sql>
</mapper>
